* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Wix Madefor Display";
  src: url("./WixMadeforDisplay-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "Wix Madefor Display", Arial, Helvetica, sans-serif;
  color: white;
  background: url(assets/gradient-background.png) no-repeat center / cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --translucent: rgba(255, 255, 255, 0.4);
  --more-translucent: rgba(255, 255, 255, 0.15);
}

button,
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  font-size: 0.8rem;
}

/* Header section */

.header,
body > div > div:nth-child(2),
.toggle {
  width: clamp(29rem, 90%, 45rem);
  display: flex;
  align-items: center;
  margin: auto;
}

.header {
  margin-bottom: 1rem;
  justify-content: space-between;
  gap: 2rem;
}

.header > div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem 0.75rem;
  justify-content: right;
  align-items: center;
}

.header h1 {
  font-size: 1.35rem;
}

.header p {
  color: var(--translucent);
}

.header input[type="text"] {
  background-color: var(--more-translucent);
  border-radius: 0.7rem;
  padding: 0.35rem 1rem;
  width: 7rem;
  color: white;
}

.header input[type="text"]::placeholder {
  color: white;
  font-family: "Wix Madefor Display", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.header input[type="text"]:focus {
  outline: white solid 1px;
}

.header button {
  color: var(--translucent);
  font-weight: bolder;
  cursor: pointer;
}

/* Parent container for Forecast + Chat */

body > div > div:nth-child(2) {
  border: 1px solid var(--translucent);
  border-radius: 0.7rem;
  height: 23rem;
}

/* Weather forecast section */

#forecast {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  height: 100%;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  background-color: var(--more-translucent);
}

#location h2,
#humidity p,
#precip p {
  font-size: 1.35rem;
  font-weight: bold;
}

#location p,
#humidity h2,
#precip h2 {
  font-size: 0.7rem;
  color: var(--translucent);
}

#temp h2 {
  font-size: 2.8rem;
  font-weight: bolder;
  display: inline;
  padding-left: 1rem;
}

#temp p:first-of-type {
  display: inline;
  vertical-align: top;
  font-weight: bold;
}

#temp p:last-of-type {
  color: var(--translucent);
}

#temp div {
  margin: -0.5rem auto;
  width: 7rem;
  height: 5rem;
  background: url(assets/partly-cloudy.png) no-repeat center / cover;
}

#forecast > div {
  padding: 1.5rem;
}

#location,
#temp {
  width: 100%;
}

#humidity,
#precip {
  width: 50%;
}

#location,
#temp {
  border-bottom: 1px solid var(--translucent);
}

#humidity {
  border-right: 1px solid var(--translucent);
}

/* Chat section */

#chat {
  padding: 1rem 1.4rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 0.7rem;
}

.chat-bubble > div {
  width: 10.3rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  color: #1a1a1a;
}

.chat-bubble > p:first-child {
  color: white;
  margin-bottom: 0.2rem;
}

.chat-bubble:nth-child(even) {
  text-align: right;
  align-self: flex-end;
}

.chat-bubble:nth-child(even) div p {
  text-align: left;
}

.chat-bubble span {
  font-weight: 600;
  color: #115468;
  cursor: pointer;
}

/* Toggle for temperature conversion */

.toggle {
  margin-top: 1rem;
  gap: 0.5rem;
}

.toggle > div {
  width: 2.1rem;
  height: 1rem;
  background-color: var(--more-translucent);
  border-radius: 1rem;
  cursor: pointer;
}

.toggle > div > div {
  width: 1rem;
  height: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin-left: auto; /* Remove to toggle */
}

.toggle p:first-child {
  color: var(--translucent);
}
